
.Footer{
    font-size: 20px;
    background-color: rgb(145, 141, 141);
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
